.name_changing_notif {
  background-color: aqua;
  color: black;
  font-size: 30px;
  border-radius: 5px;
}
.token_request_notif {
  background-color: blueviolet;
  color: white;
  font-size: 30px;
  border-radius: 5px;
}
.token_approval_notif {
  background-color: #32de84;
  color: white;
  font-size: 30px;
  border-radius: 5px;
}
